ul {
	list-style: none;
}

.game-banner {
	display: flex;
	flex-direction: row;
	height: 100px;
	background-color: #212129;
	color:white;
	



}

.each-game {
	/*border-style: solid; */

}

.each-game img {
	height: 25px;
	width: 25px;
	display: flex;
	text-align: center;
	/*flex-direction: column;*/

}

.g-img {
	height: 20px;
	width: 20px;
}