.LForm {
	height: 40%;
	width: 40%;
	background-color:#DE9151;
}

.Header1 {
	background-color: #DE9151;
}

.Footer1 {
	background-color: #DE9151;
}

.header {
	background-color: #DE9151;
}

.footer {
	background-color: #DE9151;
}

