.team-table {
	
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 356px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background-color: #bfe6ff;
}

.table {
	background-color: #bfe6ff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	
	
}

#main-table {
	width: 50%;
}